/* ******************************************************
	Author URI: https://codeconvey.com/
	Demo Purpose Only - May not require to add.
	font-family: "Raleway",sans-serif;
*********************************************************/

@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900');
#float-right {
    float: right;
}


/* ******************************************************
	Live Demo
*********************************************************/

@media (min-width: 768px) {
    .rt-container {
        width: 750px;
    }
    [class^="col-rt-"] {
        float: left;
        width: 49.9999999999%;
    }
    .col-rt-6,
    .col-rt-12 {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .rt-container {
        width: 1170px;
    }
    .col-rt-1 {
        width: 16.6%;
    }
    .col-rt-2 {
        width: 30.33%;
    }
    .col-rt-3 {
        width: 50%;
    }
    .col-rt-4 {
        width: 67.664%;
    }
    .col-rt-5 {
        width: 83.33%;
    }
}

@media only screen and (min-width:240px) and (max-width: 768px) {
    .ScriptTop h1,
    .ScriptTop ul {
        text-align: center;
    }
    .ScriptTop h1 {
        margin-top: 0;
        margin-bottom: 15px;
    }
    .ScriptTop ul {
        margin-top: 12px;
    }
    .ScriptHeader h1,
    .ScriptHeader h2,
    .scriptnav ul {
        text-align: center;
    }
    .scriptnav ul {
        margin-top: 12px;
    }
    #float-right {
        float: none;
    }
}

.country-name {
    display: block;
    position: relative;
    /* top: 10px; */
    /* margin-left: 8px !important; */
    color: rgb(0, 0, 0);
    font-weight: bold;
    /* right: 11px; */
}


/* [class='country-name'] {
  display: none;
} */

.contetnt-color {
    color: #ec572c;
    margin-right: 2%;
    font-weight: bold;
}

.left {
    text-align: left;
    margin-left: 5%;
    margin-top: 6%;
    margin-right: 5%;
}

.blob {
    /* background: black;
	border-radius: 50%;
	margin: 10px;
	height: 20px;
	width: 20px; */
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}