.description {
    max-width: 600px;
    margin: 0 auto;
    color: rgba(229, 229, 229, 0.7);
}

div,
img,
footer {
    position: relative;
    box-sizing: border-box;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered-y {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.distribution-map {
    position: relative;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

.distribution-map>img {
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

.distribution-map .map-point {
    cursor: pointer;
    outline: none;
    text-align: center !important;
    z-index: 0;
    position: absolute;
    width: 1%;
    height: 50px;
    border-radius: 45px;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=80);
    /* opacity: 0.8; */
    transform: translate(-50%, -50%);
    -moz-transition: opacity 0.25s ease-in-out 0.25s, width 0.25s ease-in-out 0.25s, height 0.25s ease-in-out 0.25s, z-index 0.25s ease-in-out 0.25s;
    -o-transition: opacity 0.25s ease-in-out 0.25s, width 0.25s ease-in-out 0.25s, height 0.25s ease-in-out 0.25s, z-index 0.25s ease-in-out 0.25s;
    -webkit-transition: opacity 0.25s ease-in-out, width 0.25s ease-in-out, height 0.25s ease-in-out, z-index 0.25s ease-in-out;
    -webkit-transition-delay: 0.25s, 0.25s, 0.25s, 0.25s;
    transition: opacity 0.25s ease-in-out 0.25s, width 0.25s ease-in-out 0.25s, height 0.25s ease-in-out 0.25s, z-index 0.25s ease-in-out 0.25s;
    background: rgb(255, 255, 255);
    border: 5px solid #0084B3;
}

.distribution-map .map-point .content {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    width: 100%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    overflow: overlay;
}

.distribution-map .map-pointJO:active,
.distribution-map .map-pointJO:focus {
    margin: 0;
    padding: 0;
    text-align: center;
    filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    width: 350px;
    height: 560px;
    color: #000000;
    z-index: 1;
    transition: opacity 0.25s ease-in-out, width 0.25s ease-in-out, height 0.25s ease-in-out;
}

.distribution-map .map-pointJO:active .content,
.distribution-map .map-pointJO:focus .content {
    filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transition: opacity 0.25s ease-in-out 0.25s, height 0.25s ease-in-out, overflow 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out 0.25s, height 0.25s ease-in-out, overflow 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out, height 0.25s ease-in-out, overflow 0.25s ease-in-out;
    -webkit-transition-delay: 0.25s, 0s, 0s;
    transition: opacity 0.25s ease-in-out 0.25s, height 0.25s ease-in-out, overflow 0.25s ease-in-out;
    overflow: hidden;
}

.distribution-map .map-point:active .content a:hover,
.distribution-map .map-point:active .content a:active,
.distribution-map .map-point:focus .content a:hover,
.distribution-map .map-point:focus .content a:active {
    color: #000000;
}

.map-point:hover {
    background-color: #ffffff;
    color: white;
}

